﻿body {
    padding-left: 100px;
    background-color: #eeeeee;
    color: #000000;
    width:500px; 
}

#imgDisp {
    Width: 300px;
}
#lblTitle{
    Width: 300px;
}
#lblCaption{
    Width: 300px;
    background-color: #eeeeee;
    border: none;
}
#txtTitle{
    background-color: #ffffff;
    border: groove;
}
#txtCaption{
    Width: 300px;
    background-color: #ffffff;
    border: groove;
}
.imgHeader {
    Width: 500px;
}
a {
    text-decoration:none;
    font-weight:bold;
    font-size:18px;
    border:solid;
    color:#000000;
}